
/* TEXT BOX */

  .text-box-Admin-profile {
 
    top: 100px;   position: fixed;
    left: 255px;
    width: 1155px;
    height: 1111px;
    max-width: calc(100% - 200px); 
    max-height: calc(100% - 130px);     
    background-color: #fff; /* White background color, adjust as needed */
    border-radius: 10px; /* Rounded corners, adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow, adjust as needed */
    padding: 20px; /* Add padding inside the text box */
    overflow: auto; /* Add scroll if needed */
    color: black;
  }



  

  /* TextboxWithButtons.css */

.container-apply-profile {
  /* display: flex; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* Adjust spacing between textboxes */
  margin-top: 50px;
}

.textbox-apply-profile {
  border-radius: 5px;
  height: auto; /* Adjusted to accommodate dynamic content */
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 2500px; /* Adjust maximum width of textboxes */
  padding: 5px; /* Adjusted for better padding */
  border: 1px solid #ccc;
}

.textbox-button-profile {
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 5px;
  height: 35px;
  margin-left: 10px;
  width: 150px;
  background-color:#dbdbd4;
}

.textbox-button-send-profile {
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
  height: 35px;
  width: 150px;
  margin-left: 10px; /* Shifts buttons to the right */
  background-color:#dbdbd4;
}

.textbox-header-profile {
  margin-top: 12px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: 50px;
}


