.contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.label {
    margin-top: 10px;
    font-weight: bold;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
.textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #2F52AC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 25px;
}

.button:hover {
    background-color: #2F52AC;
}


h2
{
    text-align: center;

}

.text-box-contactus {
 
    top: 100px;   position: fixed;
    left: 175px;
    width: 1155px;
    height: 1111px;
    max-width: calc(100% - 200px); 
    max-height: calc(100% - 130px);     
    background-color: #fff; /* White background color, adjust as needed */
    border-radius: 10px; /* Rounded corners, adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow, adjust as needed */
    padding: 20px; /* Add padding inside the text box */
    overflow: auto; /* Add scroll if needed */
    color: black;
  }