
/* TEXT BOX */


  .text-box-Status {
 
    top: 120px;   position: fixed;
    left: 255px;
    width: 1155px;
    height: 550px;
    max-width: calc(100% - 200px); 
    max-height: calc(100% - 130px);     
    background-color: #fff; /* White background color, adjust as needed */
    border-radius: 10px; /* Rounded corners, adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow, adjust as needed */
    padding: 20px; /* Add padding inside the text box */
    overflow: auto; /* Add scroll if needed */
    color: black;
  }

  h1 {
    margin-bottom: 10px; /* Spacing below the main heading */
    text-align: center;
  }
 
  .textbox-header-User-status {
    margin-left: 15px;
    width: 1105px;
    margin-top: 45px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }